 [data-md-color-primary=red] {
    --md-primary-fg-color: #272727;
    --md-primary-fg-color--light: #e57171;
    --md-primary-fg-color--dark: #272727 ;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
		--md-accent-fg-color: #526cfe;
		--md-accent-fg-color--transparent: #526cfe1a;
		--md-typeset-a-color: #605DB1;
}

[data-md-color-primary=hcr_black] {
  --md-primary-fg-color: #272727;
  --md-primary-fg-color--light: #0000008a;
  --md-primary-fg-color--dark: #272727;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
  --md-typeset-a-color: #7F7CC0;
  --md-default-bg-color: #242424;
	--md-accent-fg-color: #526cfe;
	--md-accent-fg-color--transparent: #526cfe1a;	
}

[data-md-color-scheme="default"] #td_table {
  background-color: #dddddd
}
[data-md-color-scheme="slate"] #td_table {
  background-color: hsla(var(--md-hue),25%,25%,1)
}

[data-md-color-scheme="default"] #hcr_footer {
  background-color: #ffffff
}
[data-md-color-scheme="slate"] #hcr_footer {
  background-color: #242424;
}

[data-md-color-scheme="default"] .md-copyright__highlight {
  color: #242424;
}

.md-grid {
  max-width: 100%; 
}

.md-main__inner {
	margin-top: 0;
}

h1 {
	margin: 0 0 0.2rem 0 !important;
}

.headerlink {
	--permalink-size: 16px; /* for font-relative sizes, 0.6em is a good choice */
	--permalink-spacing: 4px;

	width: calc(var(--permalink-size) + var(--permalink-spacing));
	height: var(--permalink-size);
	vertical-align: middle;
	background-color: var(--md-default-fg-color--lighter);
	background-size: var(--permalink-size);
	mask-size: var(--permalink-size);
	-webkit-mask-size: var(--permalink-size);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	visibility: visible;
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
}

[id]:target .headerlink {
	background-color: var(--md-accent-fg-color);
}

.headerlink:hover {
	background-color: var(--md-accent-fg-color) !important;
}

table {
	word-wrap: break-word !important;
	border-radius: 10px !important;
	width: 100% !important;
	word-wrap: break-word !important;
}

/* .md-typeset__table table:not([class]) tr:hover {
	background-color: rgb(207, 237, 255) !important;
} */

[data-md-color-scheme="default"] th {
	background-color: #f0f0f0 !important;
}

[data-md-color-scheme="slate"] th {
	background-color: #2b2b2b !important;
}

th:last-child {
	border-top-right-radius: 10px !important;
}

th:first-child {
	border-top-left-radius: 10px !important;
}

[data-md-color-scheme="slate"] tr {
	background-color: #242424 !important;
}

th, td {
	border: 1px solid var(--md-typeset-table-color);
	border-spacing: 0 !important;
	border-bottom: none !important;
	border-left: none !important;
	border-top: none !important;
	word-wrap: break-word !important;
}

.md-typeset__table {
	line-height: 1;
}

.md-typeset__table table:not([class]) {
	font-size: .74rem !important;
	border-right: none !important;
	width: 100% !important;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
	padding: 9px !important;
	word-wrap: break-word !important;
}

/* light mode alternating table bg colors */
[data-md-color-scheme="default"] .md-typeset__table tr:nth-child(even) {
	background-color: #f4f4f4 !important;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(even) {
	background-color: #272727 !important;
}

.md-typeset__table {
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
}

.md-typeset__scrollwrap {
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;	
}

@media screen and (min-width: 76.25em) {
	h1, h2, h3, h4, h5, h6 {
		display: flex;
		align-items: center;
		flex-direction: row;
		column-gap: 0.2em; /* fixes spaces in titles */
	}

	.headerlink {
		order: -1;
		margin-left: calc(var(--permalink-size) * -1 - var(--permalink-spacing)) !important;
	}
}


